[Unit]
Description=WTF Server Service
After=network.target

[Service]
WorkingDirectory=/home/pi/Projects/wtf-server
ExecStart=/usr/bin/npm start
Restart=on-failure
User=p# i
# Environment=PORT=8000

[Install]
WantedBy=multi-user.target
